.h1 {
    width: 68%;
   
}
.header1{
width:100%;
height: 36px;
}
.panel-1{
    width:28%;
    display:inline;
    float:right;
    margin-top:-10px;
}
/* .btn-1 {
    margin-left: 60%;
} */
/* .btnlogin{
width:30%;
} */
